

.container{
   width: auto;
   height: 90%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
}
.maincontainer{
   display: flex;
   text-align: center;
   width: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
}
.secondcontainer{
   flex: 1;
   width: auto;
   display: flex;
   flex-direction: column;
}
.thirdcontainer{
   flex: 2;
   width: auto;
   display: flex;
   flex-direction: column;
}
.fourthcontainer{
      flex: 3;
      width: auto;
      display: flex;
      flex-direction: column;
   
}
.item1{
   text-align: center;
   background-color: lightgrey;
}
.item2{
   background-color: lightgrey;
   margin: 5%;
   height: 15%;
}
.item3{
   background-color: lightgrey;
   margin: 5%;
   height: 20%;
}
.item4{
   background-color: lightgrey;
   margin: 5%;
   height: 15%;
}
.item5{
   background-color: lightgrey;
   margin: 5%;
   height: 40%;
}
.item6{
   background-color: lightgrey;
   margin: 5%;
   height: 35%;
}
.item7{
   background-color: lightgrey;
   margin: 5%;
   height: 60%;
}
.item8{
   background-color: lightgrey;
   margin: 2%;
   height: 100%;
}
@media only screen and (max-width: 425px){
   img{
      height: 75px;
      width: 75px;
   }
   .maincontainer{
      display: flex;
      text-align: center;
      width: auto;
      flex-direction: column;
   }
   .secondcontainer{
     
      width: auto;
      display: flex;
      flex-direction: column;
   }
   .thirdcontainer{
      
      width: auto;
      display: flex;
      flex-direction: column;
   }
   .fourthcontainer{
      
         width: auto;
         display: flex;
         flex-direction: column;
      
   }
   .container{
      flex:1;
      width: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
 }
   
 
  
 
 